:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

body {
  font-family: 'Raleway','Open Sans', sans-serif;
  overflow-x: hidden;
  max-width: 100%;
  font-size: 15px !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, .h1 {
  font-size: 25px !important;
  font-family: 'Raleway';
}

.container {
  max-width: 100%;
  padding: 30px !important;
  padding-top: 20px !important;
  padding-bottom: 0 !important;
}

.header {
  margin-bottom: 94px;
}

.header-logo img {
  height: 25px;
}

.header-nav {
  margin-left: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav a {
  font-size: 13px;
  padding: 4px;
}

.ct-action {
  margin-bottom: 150px;
}

.ct-action p {
  margin-bottom: 10px;
}

.ct-action-input-text {
  height: 40px !important;
  width: 100% !important;
  max-width: 90%;
}

.ct-action-input-text::-webkit-input-placeholder {
  padding: 20px;
  color: var(--Light-Gray);
}

.ct-action-input-text:-ms-input-placeholder {
  padding: 20px;
  color: var(--Light-Gray);
}

.ct-action-input-text::-ms-input-placeholder {
  padding: 20px;
  color: var(--Light-Gray);
}

.ct-action-input-text::placeholder {
  padding: 20px;
  color: var(--Light-Gray);
}

.ct-action-input-button {
  height: 40px;
  width: 100%;
  max-width: 90%;
  font-weight: 700;
  -webkit-box-shadow: 2px 2px 3px 1px var(--Light-Gray);
          box-shadow: 2px 2px 3px 1px var(--Light-Gray);
}

input[type=submit] {
  font-weight: bold;
  font-family: 'Raleway';
  font-size: 13px;
}

.invalid-feedback {
  height: 100%;
  width: 100% !important;
  max-width: 90% !important;
  margin: 0 auto !important;
}

.invalid-feedback p {
  text-align: left;
}

.about {
  margin-top: 90px;
  font-size: 15px;
  font-weight: lighter;
  color: var(--Very-Dark-Blue);
}

.about-title {
  font-size: 16px !important;
  margin-bottom: 28px;
  font-family: 'Raleway';
}

.about-link {
  margin: 30px;
  font-weight: normal;
}

.about-link a {
  padding-bottom: 4px;
  font-size: 13px;
  color: var(--Moderate-Cyan);
  text-decoration: none;
  border-bottom: 1px solid var(--Moderate-Cyan);
}

.about-quote {
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 20px 24px 20px 26px;
  font-family: 'Open sans';
}

.about-quote-img {
  height: 12px;
  width: 12px;
  margin-bottom: 8px;
}

.about-quote-text {
  font-size: 10px;
  line-height: 1.8em;
  font-weight: bold;
}

.about-quote-profile-img {
  height: 24px;
  margin-right: 8px;
}

.about-quote-profile-text p {
  margin: 0;
}

.about-quote-profile-title {
  font-size: 12px;
  font-weight: bold;
}

.about-quote-profile-carrer {
  font-size: 8px;
}

.early-access {
  background-color: var(--Desaturated-Blue);
  font-family: 'Open Sans';
  color: var(--Light-Gray);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
  padding: 58px 44px 70px 44px;
}

.early-access:before {
  display: table;
  content: " ";
  overflow: hidden;
}

.early-access:after {
  display: table;
  content: " ";
  overflow: hidden;
  clear: both;
}

.early-access-title {
  color: white !important;
  font-weight: bold;
  font-size: 16px;
}

.early-access-text {
  margin-bottom: 20px;
  font-size: 14px;
}

.early-access input[type=text] {
  height: 34px;
  width: 90%;
  margin-bottom: 6px;
  font-size: 12px;
}

.early-access input[type=submit] {
  height: 34px;
  width: 90%;
  margin: 0 !important;
  padding: 2px !important;
  font-size: 10px;
}

.early-access input[type=text]::-webkit-input-placeholder {
  padding-left: 20px;
  color: var(--Light-Gray);
}

.early-access input[type=text]:-ms-input-placeholder {
  padding-left: 20px;
  color: var(--Light-Gray);
}

.early-access input[type=text]::-ms-input-placeholder {
  padding-left: 20px;
  color: var(--Light-Gray);
}

.early-access input[type=text]::placeholder {
  padding-left: 20px;
  color: var(--Light-Gray);
}

.early-access .invalid-feedback p {
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--Light-Grayish-Blue);
}

.footer {
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
  padding: 30px;
  margin-bottom: 0;
}

.footer:before {
  display: table;
  content: " ";
  overflow: hidden;
}

.footer:after {
  display: table;
  content: " ";
  overflow: hidden;
  clear: both;
}

.footer-logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-img {
  margin-right: 14px;
}

.footer a {
  color: var(--Light-Grayish-Blue);
}

.footer i {
  text-align: center;
  padding-top: 3px;
  width: 26px;
  height: 26px;
}

@media (min-width: 992px) {
  body {
    font-size: 17px;
  }
  h1, .h1 {
    font-size: 40px !important;
  }
  .container {
    max-width: 1440px;
    padding: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0 !important;
  }
  .header {
    margin: 60px 0;
  }
  .header-logo img {
    height: 100%;
  }
  .header-nav {
    margin-left: 0px;
    width: unset;
  }
  .header-nav a {
    margin: 0 30px;
  }
  .header-nav a {
    font-size: 17px;
    padding: 4px;
  }
  .dir-lg-reverse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .ct-action {
    margin-bottom: 440px;
  }
  .ct-action h1, .ct-action .h1 {
    text-align: start;
  }
  .ct-action p {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: start;
  }
  .ct-action form {
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ct-action form .ct-action-aux {
    width: 100%;
    max-width: 54%;
    margin-bottom: 0px !important;
    margin-right: 20px;
  }
  .ct-action-input-text {
    height: 44px !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px;
  }
  .ct-action-input-button {
    height: 44px;
    width: 100%;
    max-width: 32%;
    font-weight: 700;
    -webkit-box-shadow: 2px 2px 3px 1px var(--Light-Gray);
            box-shadow: 2px 2px 3px 1px var(--Light-Gray);
  }
  .invalid-feedback p {
    font-size: 14px;
    text-align: left;
    margin-left: calc(0% - 5%);
  }
  .about {
    margin: 0;
    font-size: 17px;
    font-family: 'Raleway';
    font-weight: bold;
    padding-right: 10px;
  }
  .about-img {
    margin-left: -20px !important;
  }
  .about-title {
    font-size: 40px !important;
    margin-bottom: 28px;
  }
  .about-p-margin {
    margin-right: 150px;
  }
  .about-link {
    margin: 0;
  }
  .about-link a {
    font-size: 17px;
  }
  .about-quote {
    width: 100%;
    max-width: 50%;
    margin: 40px 0px 104px 0px;
    padding: 24px 28px 20px 30px;
  }
  .about-quote-text {
    font-size: 14px;
  }
  .about-quote-profile-img {
    height: 30px;
    margin-right: 8px;
  }
  .about-quote-profile-title {
    font-size: 11px;
    font-family: 'Raleway';
    letter-spacing: 0.5px;
  }
  .early-access {
    padding: 100px 0 60px 60px;
  }
  .row-correction {
    max-width: 1300px;
    margin: auto;
  }
  .early-access-title {
    color: white !important;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Raleway';
  }
  .early-access-text {
    padding-right: 90px !important;
    font-size: 17px;
  }
  .early-access-form {
    padding: 10px 0px 10px 110px !important;
  }
  .early-access input[type=text] {
    height: 50px;
    border-radius: 5px;
  }
  .early-access input[type=text]::-webkit-input-placeholder {
    padding-left: 20px;
    color: var(--Light-Gray);
  }
  .early-access input[type=text]:-ms-input-placeholder {
    padding-left: 20px;
    color: var(--Light-Gray);
  }
  .early-access input[type=text]::-ms-input-placeholder {
    padding-left: 20px;
    color: var(--Light-Gray);
  }
  .early-access input[type=text]::placeholder {
    padding-left: 20px;
    color: var(--Light-Gray);
  }
  .early-access input[type=submit] {
    height: 44px;
    width: unset;
    margin: 6px 0 0 0 !important;
    padding: 2px 30px !important;
    font-size: 14px;
  }
  .early-access .invalid-feedback p {
    margin-left: calc(0% - 5%);
  }
  .footer {
    padding: 100px 60px;
  }
  .footer-row-correction {
    max-width: 1300px !important;
    margin: auto !important;
  }
  .footer-aux {
    max-width: 1300px !important;
    margin: auto !important;
  }
  .footer-logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .footer-logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/*!
 * Bootstrap v5.0.0-beta1 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, .h1, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


ul {
  padding-left: 2rem;
}


ul {
  margin-top: 0;
  margin-bottom: 1rem;
}


ul ul {
  margin-bottom: 0;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}

a:hover {
  color: #0a58ca;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


[type="submit"] {
  -webkit-appearance: button;
}


[type="submit"]:not(:disabled) {
  cursor: pointer;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn:hover {
  color: #212529;
}

 .btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

 .btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

 .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}

 .btn-primary:active:focus, .btn-primary.active:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-primary:disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    -webkit-transition: none;
    transition: none;
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-white {
  border-color: #fff !important;
}

.border-1 {
  border-width: 1px !important;
}

.w-100 {
  width: 100% !important;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.text-center {
  text-align: center !important;
}

.text-danger {
  color: #dc3545 !important;
}

.text-dark {
  color: #212529 !important;
}

/* rtl:begin:remove */

/* rtl:end:remove */

.rounded-circle {
  border-radius: 50% !important;
}

@media (min-width: 992px) {
  .m-lg-auto {
    margin: auto !important;
  }
  .my-lg-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
  .text-lg-start {
    text-align: left !important;
  }
}
/*# sourceMappingURL=style.css.map */