:root{

    //Primary
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    
    //Accent
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    
    //Neutral
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    //Weights: 400, 700 & Weights: 400
}

body{
    font-family: 'Raleway','Open Sans', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    font-size:15px!important;
}


a {
    text-decoration: none;
    cursor:pointer;
}

h1{
    font-size: 25px!important;
    font-family: 'Raleway';
}

.container{
    max-width: 100%;
    padding: 30px!important;
    padding-top: 20px!important;
    padding-bottom:0!important;
}


//HEADER ---------------------------------------------------
.header{
    margin-bottom:94px;
}

.header-logo img{
    height: 25px;
}

.header-nav{
    margin-left:20px;
    width:50%;
    display:flex;
    justify-content: space-between;
}

.header-nav a{
    font-size: 13px;
    padding:4px;
}


//UPPER SECTION --------------------------------------------
.ct-action{
    margin-bottom: 150px;
}

.ct-action p{
    margin-bottom: 10px;
}

.ct-action-input-text{
    height: 40px!important;
    width: 100%!important;
    max-width: 90%;
}

.ct-action-input-text::placeholder{
    padding: 20px;
    color: var(--Light-Gray);
}

.ct-action-input-button{
    height: 40px;
    width: 100%;
    max-width: 90%;
    font-weight: 700;
    box-shadow: 2px 2px 3px 1px var(--Light-Gray);
}

input[type=submit]{
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 13px;
}

.invalid-feedback{
    height: 100%;
    width: 100%!important;
    max-width: 90%!important;
    margin: 0 auto!important;
}

.invalid-feedback p{
    text-align: left;
}


//LOWER SECTION -------------------------------------------
.about{
    margin-top: 90px;
    font-size: 15px;
    font-weight: lighter;
    color:var(--Very-Dark-Blue);
}

.about-title{
    font-size: 16px!important;
    margin-bottom: 28px;
    font-family: 'Raleway';
}

.about-link{
    margin:30px;
    font-weight: normal;
}

.about-link a{
    padding-bottom: 4px;
    font-size:13px;
    color: var(--Moderate-Cyan);
    text-decoration: none;
    border-bottom : 1px solid var(--Moderate-Cyan);
}

.about-quote{
    margin:20px;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 20px 24px 20px 26px;
    font-family: 'Open sans';

}

.about-quote-img{
    height: 12px;
    width: 12px;
    margin-bottom: 8px;
}

.about-quote-text{
    font-size: 10px;
    line-height: 1.8em;
    font-weight: bold;
}

.about-quote-profile-img{
    height: 24px;
    margin-right: 8px;
}

.about-quote-profile-text p{
    margin:0;
}

.about-quote-profile-title{
    font-size: 12px;
    font-weight: bold;
}

.about-quote-profile-carrer{
    font-size: 8px;
}


//EARLY ACCESS --------------------------------------------
.early-access{
    background-color: var(--Desaturated-Blue);
    font-family: 'Open Sans';
    color: var(--Light-Gray);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
    padding: 58px 44px 70px 44px;
}

.early-access:before {
    display: table;
    content: " ";
    overflow: hidden;
}

.early-access:after {
    display: table;
    content: " ";
    overflow: hidden;
    clear: both;
}

.early-access-title{
    color: white!important;
    font-weight: bold;
    font-size: 16px;
}

.early-access-text{
    margin-bottom: 20px;
    font-size: 14px;
}

.early-access input[type=text]{
    height: 34px;
    width: 90%;
    margin-bottom: 6px;
    font-size: 12px;
}

.early-access input[type=submit]{
    height: 34px;
    width: 90%;
    margin:0!important;
    padding: 2px!important;
    font-size: 10px;
}

.early-access input[type=text]::placeholder{
    padding-left: 20px;
    color: var(--Light-Gray);
}

.early-access .invalid-feedback p{
    margin-bottom:0;
    padding-bottom:0;
    color: var(--Light-Grayish-Blue);
}


//FOOTER ---------------------------------------------------
.footer{
    background-color: var(--Very-Dark-Blue);
    color: var(--Light-Grayish-Blue);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
    padding: 30px;
    margin-bottom:0;
}

.footer:before {
    display: table;
    content: " ";
    overflow: hidden;
}

.footer:after {
    display: table;
    content: " ";
    overflow: hidden;
    clear: both;
}

.footer-logo{
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-img{
    margin-right: 14px;
}

.footer a{
    color: var(--Light-Grayish-Blue)
}

.footer i{
    text-align: center;
    padding-top: 3px;
    width: 26px;
    height: 26px;
}


//MEDIA QUERYS -------------------------------------------------

//min-width: 992px ---------------------------------------------
@media(min-width: 992px){
    body{
        font-size:17px;
    }

    h1{
        font-size: 40px!important;
    }

    .container{
        max-width: 1440px;
        padding: 20px!important;
        padding-top: 0px!important;
        padding-bottom:0!important;
    }

    //HEADER ---------------------------------------------------
    .header{
        margin: 60px 0;
    }

    .header-logo img{
        height: 100%;
    }

    .header-nav{
        margin-left:0px;
        width:unset;
    }

    .header-nav a{
        margin: 0 30px
    }

    .header-nav a{
        font-size: 17px;
        padding:4px;
    }

    .dir-lg-reverse{
        display: flex !important;
        flex-flow: wrap;
        flex-direction: row-reverse;
    }


    //UPPER SECTION ---------------------------------------------
    .ct-action{
        margin-bottom: 440px;
    }

    .ct-action h1{
        text-align: start;
    }

    .ct-action p{
        margin-bottom: 10px;
        font-size: 20px;
        text-align: start;
    }

    .ct-action form{
        text-align: start;
        display:flex;
    
    .ct-action-aux{
        width: 100%;
        max-width: 54%;
        margin-bottom: 0px!important;
        margin-right: 20px;
    }

    }
    .ct-action-input-text{
        height: 44px!important;
        width: 100%!important;
        max-width: 100%!important;
        margin:0px;
    }

    .ct-action-input-button{
        height: 44px;
        width: 100%;
        max-width: 32%;
        font-weight: 700;
        box-shadow: 2px 2px 3px 1px var(--Light-Gray);
    }

    .invalid-feedback p{
        font-size: 14px;
        text-align: left;
        margin-left: calc(0% - 5%);
    }


    //LOWER SECTION -------------------------------------------

    .about{
        margin:0;
        font-size: 17px;
        font-family: 'Raleway';
        font-weight: bold;
        padding-right: 10px;
    }

    .about-img{
        margin-left: -20px!important;
    }

    .about-title{
        font-size: 40px!important;
        margin-bottom: 28px;
    }

    .about-p-margin{
        margin-right: 150px
    }


    .about-link{
        margin:0;
    }

    .about-link a{
        font-size: 17px;
    }


    .about-quote{
        width: 100%;
        max-width: 50%;
        margin: 40px 0px 104px 0px;
        padding: 24px 28px 20px 30px;
    }

    .about-quote-text{
        font-size: 14px;
    } 


    .about-quote-profile-img{
        height: 30px;
        margin-right: 8px;
    }

    .about-quote-profile-title{
        font-size: 11px;
        font-family: 'Raleway';
        letter-spacing: 0.5px;
    }
    
    
    //EARLY ACCESS --------------------------------------------
    .early-access{
        padding: 100px 0 60px 60px;
    }

    .row-correction{
        max-width: 1300px;
        margin:auto;
    }

    .early-access-title{
        color: white!important;
        font-weight: bold;
        font-size: 30px;
        font-family: 'Raleway';
    }

    .early-access-text{
        padding-right: 90px!important;
        font-size: 17px;
    }

    .early-access-form{
        padding: 10px 0px 10px 110px!important;
    }

    .early-access input[type=text]{
        height: 50px;
        border-radius: 5px;
    }

    .early-access input[type=text]::placeholder{
        padding-left: 20px;
        color: var(--Light-Gray);
    }

    .early-access input[type=submit]{
        height: 44px;
        width: unset;
        margin:6px 0 0 0!important;
        padding: 2px 30px!important;
        font-size: 14px;
    }

    .early-access .invalid-feedback p{
        margin-left: calc(0% - 5%);
    }
    

//FOOTER ---------------------------------------------------
    .footer{
        padding: 100px 60px;
    }

    .footer-row-correction{
        max-width: 1300px!important;
        margin:auto!important;
    }

    .footer-aux{
        max-width: 1300px!important;
        margin:auto!important;
    }

    .footer-logo{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


// min-width:1200px ---------------------------------------------
@media(min-width:1200px){
    
    .footer-logo{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


@import "../node_modules/bootstrap/scss/bootstrap";